.RcontainerDiv {
  background-image: url("../../components/Login/bg.jpg");
  background-repeat: no-repeat;
  /* background-size: 100% 2000px; */
  background-size: cover;
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  /* border: 5px solid yellow; */
}

.R-content-container-div {
  /* border: 5px solid blue; */
  margin-top: 20px;
  margin-bottom: 122px;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  background-color: #cccccc;
}

.R-screen-button-div {
  margin-left: 15px;
  margin-right: 10px;
}
.RloginIcon {
  margin-left: 145px;
  margin-top: 20px;
  width: 100px;
  border: 2px solid white;
  border-radius: 300px;
}

.Rlogin-txt {
  color: black;
  margin-left: 110px;
  margin-top: -3px;
}
