.SA-addAdmin-container-div {
  display: flex;
  justify-content: center;
  height: 842px;
  background-image: url("../components/Login/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.SA-addAdmin-form {
  border: 2px solid white;
  border-radius: 10px;
  width: 300px;
  height: 630px;
  background-color: #cccccc;
  margin-top: 100px;
}
.SA-Addadmin-loginIcon {
  margin-left: 95px;
  margin-top: 20px;
  width: 100px;
  border: 2px solid white;
  border-radius: 300px;
}

.SA-Addadmin-login-txt {
  color: black;
  margin-left: 45px;
  margin-top: -3px;
}

.SA-addAdmin-form input {
  width: 270px;
  height: 25px;
  border: 2px solid white;
  border-radius: 5px;
}

.SA-AddAdmin-faicons {
  color: black;
}

.SA-Addadmin-singlediv-container {
  margin-left: 10px;
}

.SA-Addadmin-singleButton-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.superAdmin-Adderror-message {
  padding-left: 2px;
  color: red;
  margin: -10px 7px 7px 7px;
  font-style: italic;
  font-size: 10px;
}

.superAdmin-Addsuccess-message {
  padding-left: 2px;
  color: green;
  margin: -10px 7px 7px 7px;
  font-style: italic;
  font-size: 15px;
}

.superAdmin-Error-message {
  padding-left: 2px;
  color: red;
  margin: -10px 7px 7px 7px;
  font-style: italic;
  font-size: 15px;
}
