.SA-Deleteadmin-container-div {
  background-image: url("../components/Login/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  height: 570px;
}

.SA-DeleteAdmin-form-container {
  margin-top: 70px;
  border: 2px solid white;
  border-radius: 10px;
  width: 350px;
  height: 300px;
  background-color: #cccccc;
}

.SA-DeleteAdmin-loginIcon {
  margin-left: 120px;
  margin-top: 20px;
  width: 100px;
  border: 2px solid white;
  border-radius: 300px;
}

.SA-DeleteAdmin-login-txt {
  color: black;
  margin-left: 87px;
  margin-top: -3px;
}

.SA-DeleteAdmin-form-container input {
  width: 300px;
  height: 25px;
  border: 2px solid white;
  border-radius: 5px;
}

.SA-DeleteAdmin-singlediv-container {
  margin-left: 15px;
}

.SA-DeleteAdmin-singleButton-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  margin-right: 25px;
  margin-left: 13px;
}

.superAdmin-deleteerror-message {
  /* border: 2px solid black; */
  margin: -10px 7px 7px 7px;
  padding-left: 2px;
  color: red;
  font-style: italic;
  font-size: 15px;
}

.superAdmin-deletesuccess-message {
  /* border: 2px solid black; */
  margin: -10px 7px 7px 7px;
  padding-left: 2px;
  color: green;
  font-style: italic;
  font-size: 15px;
}
