.SA-Searchadmin-container-div {
  display: flex;
  justify-content: center;
  background-image: url("../components/Login/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
}
.SA-searchAdmin-form-container {
  margin-top: 70px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  width: 350px;
  height: 300px;
  background-color: #cccccc;
}

.SA-searchAdmin-loginIcon {
  margin-left: 120px;
  margin-top: 20px;
  width: 100px;
  border: 2px solid white;
  border-radius: 300px;
}

.SA-searchAdmin-login-txt {
  color: black;
  margin-left: 85px;
  margin-top: -3px;
}

.SA-searchAdmin-form-container input {
  width: 300px;
  height: 25px;
  border: 2px solid white;
  border-radius: 5px;
}

.SA-searchAdmin-singlediv-container {
  margin-left: 15px;
}

.SA-searchAdmin-singlebutton-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  margin-right: 25px;
  margin-left: 13px;
}
/* Table styling */

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
}

.table-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.data-table {
  border-collapse: collapse;
  /* border: 1px solid black; */
  width: 100%;
  max-width: 800px;
  background-color: #cccccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.data-table th,
.data-table td {
  border: 1px solid black;
  padding: 12px 15px;
  text-align: left;
  /* border-color: black; */
}

.data-table th {
  background-color: #cccccc;
  color: black;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #e6e6e6;
}

.superAdmin-search-message {
  padding-left: 2px;
  color: black;
  font-style: italic;
  margin: -10px 7px 7px 7px;
}
