.btnDiv{
   
    /* background-color: navy;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-top: 20px; */
 
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    height: 60vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;
}
.btn{
    background-color: navy;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.fp-txt{
    color: navy;
    font-weight: 500;
    font-size: 45px;
}
.fp-txt:hover{
    background-color: navy;
    color: white;
    font-weight: 600;
    font-size: 45px;
}

