.footer {
    background-image: url("home4.png");
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 1rem;
  }
  
  ul:link{
    color:white;
  }

  
  