button {
    background-image: url("../../backgroundImage.png");
    padding: 10px;
    border: 2px solid navy;
    border-radius: 30px;
    color: navy;
    font-size: 19px;
    font-weight: 600;
    width: 200px;
    cursor: pointer;
}

button:hover{
    background-image: none;
    
}