header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  /* border-bottom: 2px solid rgb(0, 0, 0); */
  /* border: 2px solid red; */
  width: 98%;
}

.logo img {
  height: 85px;
  margin-left: 50px;
  border-radius: 50px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav a {
  /* border: 3px solid yellow; */
  display: block;
  padding: 10px 14px;
  color: BLACK;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  color: NAVY;
}
