header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 2px;
  background-color: white;

  font-weight: 500;
  font-size: 20px;
  /* border-bottom: 2px solid rgb(0, 0, 0); */
  /* border: 2px solid red; */
  width: 99.73%;
}

.logo img {
  height: 85px;
  margin-left: 50px;
  border-radius: 50px;
}

nav {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  /* border: 2px solid red; */
}

ul li {
  list-style: none;
}

ul li a {
  color: BLACK;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 14px;
  text-decoration: none;
}

nav a {
  /* border: 3px solid yellow; */
  /* display: block;
  padding: 10px 14px;
  color: BLACK;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500; */
}

a:hover {
  text-decoration: underline;
  color: NAVY;
}
