.AddComplaint-container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../components/Login/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.AddComplaint-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid rgb(255, 253, 253);
  border-radius: 10px;
  width: 350px;
  background-color: #cccccc;
}

.AddComplaint-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.AddComplaint-input-container label {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.AddComplaint-input-container select,
.AddComplaint-input-container textarea {
  width: 100%;
  padding: 4px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
}

.AddComplaint-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AddComplaint-button-container button {
  width: 45%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.AddComplaint-singleButton-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.Complaint-Add-message {
  color:green;
  font-style: italic;
  font-size: 15px;
}

.AddComplaint-error {

  color: red;
  font-style: italic;
  font-size: 10px;
}
