.VC-Viewcomplaint-container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../components/Login/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.VC-viewComplaint-form-container {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  width: 350px;
  height: 100px;
  background-color: #cccccc;}

.VC-viewComplaint-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.VC-viewComplaint-singlebutton-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
}

.VC-viewComplaint-table-container {
  margin-top: 40px;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  background-color: #cccccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.data-table th,
.data-table td {
  border: 1px solid black;
  padding: 12px 15px;
  text-align: left;
}

.data-table th {
  background-color: #cccccc;
  color: black;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #e6e6e6;
}

.data-table-header {
  background-color: #cccccc;
  color: black;
}
