.view-Complaint-form-container{
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  margin-left: 40%;
  margin-right: 40%;
  padding: top 40px; 
  padding:20px;
  background-color: navy;
  
}
.view-complaint-button{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
}
.view-txt{
  text-align: center;
  color: navy;
  font-weight: 500;
  font-size: 45px;
  margin-left: 260px;
  margin-right: 260px;
}
.view-txt:hover{
    background-color: navy;
  border: 2px solid white;
  border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 45px;
}